__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg
.git/
.gitignore
.dockerignore
*.md
*.log
logs/
staticfiles/
media/
.env
*.sqlite3
db.sqlite3
node_modules/
.DS_Store
